body {
  

  font-family: 'Barlow Condensed', sans-serif;
  color: #a55242;  
  
}

.jumbotron {
  background: #F36C6C;
    height:560px;


}


h1 {
  color: #c5c6bf;
  font-weight: Light 300;
  font-size: 150px;
}

button,
a.btn {
  color: white !important;
  background-color: #c5c6bf !important;
  border: 5px solid #a55242;
  box-shadow: 0 0px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: background-color 0.30s ease;
  padding: 8px 50px;
    
    
    
    
}

button:hover,
a.btn:hover {
  background-color: #a55242 !important;
  border: 5px solid #c5c6bf;    
}

button:active,
a.btn:active {
  background-color: #5B6EAE !important;

}

label {
  color: #8E9297;
}

textarea {
  color: #DCDDDE !important;
  background: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  box-shadow: none !important;
  transition: border-color 0.2s ease-in-out;
  resize: none;
  overflow-y: hidden;
    
    
}

textarea:hover {
  border-color: #040405 !important;
}

textarea:focus {
  border-color: #7289DA !important;
}

.textInput {
  position: relative;
    
}

.remainingLength {
  position: absolute;
  bottom: 12px;
  right: 14px;
  font-size: 12px;
  font-family: monospace;
  pointer-events: none;
  color: #72767D;
}

.lowOnSpace {
  color: #F36C6C;
}

#username {
  color: white;
}
